*{
  font-family: 'Courier New', Courier, monospace;
}
body{
  padding: 60px;
}
input {
  font-size: 1.3rem;
}
.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-top:10px;
  margin-right:10px;
}
.card-title{
  padding: 5px;
  text-align: center;
  font-weight: bold;
}
.card img{
  max-height: 170px;
}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}